notes.md
further-notes.md
/venv
/.venv

/.obsidian
.obsidian/
.DS_Store
Thumbs.db
.vscode/
*.log
*.tmp
*.bak
*.swp

.idea/
*.iml

node_modules/
dist/
build/
.env
.env.local
.env.*.local

.python-version
__pycache__/

*.pyc
*.pyo
*.pyd

uv.lock
.mypy_cache/
.pytest_cache/